@model ENTIDAD.Vehiculo

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle del vehiculo</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Vehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Vehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar vehiculo", "Editar", new { id = Model.ID_Vehiculo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
