@model IEnumerable<ENTIDAD.Servicios>

@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Servicios del lavacar</h2>

<p>
    @Html.ActionLink("Crear nuevo servicio", "Crear", "Servicio")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>Listado de vehiculos</th>
        <th>Herramientass</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.ID_Servicio }) |
            @Html.ActionLink("Detalles", "Detalle", new { id = item.ID_Servicio }) |
            @Html.ActionLink("Borrar", "Borrar", new { id = item.ID_Servicio })
        </td>
    </tr>
}

</table>
